[submodule "external/pybind11"]
	path = external/pybind11
	url = https://github.com/pybind/pybind11.git
[submodule "external/rs_driver"]
	path = external/rs_driver
	url = https://github.com/RoboSense-LiDAR/rs_driver.git
